html{background-color: silver;
  font-family: 'Josefin Sans', sans-serif;
}

p{margin: auto;
  color: blue;
  padding: 4.5px;
  border: 5.4px solid black;
}

h2{border: 3.6px solid black;
  padding: 10px;
  font-weight:bolder;
}
