html{background-color: silver;
  font-family: 'Josefin Sans', sans-serif;
}

p{margin: auto;
  color: blue;
  padding: 4.5px;
  border: 5.4px solid black;
}

h2{border: 3.6px solid black;
  width:150px;
  padding: 10px;
  font-weight:bolder;
}

h1{border: 3.6px solid black;
  width:215px;
  padding: 10px;
  font-weight:bolder;
  text-align: right;
}

img{display: block;
  margin: 0 auto;

}
